<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <style>
    .selectInput {
      position: relative;
      width: 100%;
      min-width: 100px;
    }
    .selectInput .detailSelect {
      position: absolute;
      width: 100%;
      padding: 0 10px;
      border-radius: 3px;
      border: solid 1px #FF903D;
      line-height: 30px;
      text-align: center;
      background: #fff;
      top: 50px;
      z-index: 99;
    }
    .selectInput .detailSelect .items {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      line-height: 35px;
      border-bottom: solid 1px #f4f4f4;
      color: #666;
    }
    .selectInput .detailSelect .none {
      font-size: 14px;
    }

    #pet-add-app .uploadImg .el-form-item__label::before{
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
      }

  </style>
</head>
<body>
   <div class="addBrand-container" id="pet-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="true"
        label-width="180px"
        class="demo-ruleForm"
      >
        <div>
          <el-form-item
            label="name"
            prop="name"
          >
            <el-input
              v-model="ruleForm.name"
              placeholder="Enter pet name"
              maxlength="20"
            />
          </el-form-item>
          <el-form-item
            label="category"
            prop="categoryId"
          >
            <el-select
              v-model="ruleForm.categoryId"
              placeholder="Select category"
            >
              <el-option v-for="(item,index) in petList" :key="index" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </div>
        <div>
          <el-form-item
            label="Adoption Fee"
            prop="price"
          >
            <el-input
              v-model="ruleForm.price"
              placeholder="Enter adoption Fee"
            />
          </el-form-item>
        </div>

        </el-form-item>
        <div>
        </div>
        <div>
          <el-form-item
            label="pic"
            prop="region"
            class="uploadImg"
          >
            <el-upload
              class="avatar-uploader"
              action="/common/upload"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :on-change="onChange"
              ref="upload"
            >
              <img
                v-if="imageUrl"
                :src="imageUrl"
                class="avatar"
              ></img>
              <i
                v-else
                class="el-icon-plus avatar-uploader-icon"
              ></i>
            </el-upload>
          </el-form-item>
        </div>
        <div class="address">
          <el-form-item
            label="Description"
            prop="region"
          >
            <el-input
              v-model="ruleForm.description"
              type="textarea"
              :rows="3"
              placeholder="Pet Description(200 words max)"
              maxlength="200"
            />
          </el-form-item>
        </div>
        <div class="subBox address">
          <el-form-item>
            <el-button @click="goBack()">
              Cancel
            </el-button>
            <el-button
              type="primary"
              @click="submitForm('ruleForm')"
            >
              Save
            </el-button>
            <el-button
              v-if="actionType == 'add'"
              type="primary"
              class="continue"
              @click="submitForm('ruleForm','goAnd')"
            >
              Save and add more
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>

    <script src="../../plugins/vue/vue.js"></script>

    <script src="../../plugins/element-ui/index.js"></script>

    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../js/validate.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../api/pet.js"></script>
    <script>
      new Vue({
        el: '#pet-add-app',
        data() {
          return {
            id: '',
            restKey: 0,
            textarea: '',
            value: '',
            imageUrl: '',
            actionType: '',
            petList: [],
            petDetailsData: [],
            petDetails: [],
            vueRest : '1',
            index : 0,
            inputStyle  : {'flex':1},
            ruleForm  : {
              'name': '',
              'id': '',
              'price': '',
              'code': '',
              'image': '',
              'description': '',
              'petDetails': [],
              'status': true,
              categoryId: ''
            },
            mak: false
          }
        },
        computed: {
          rules () {
            return {
              'name': [
                {'required': true, 'message': 'Enter pet name', 'trigger': 'blur'}
              ],
              'categoryId': [
                {'required': true, 'message': 'Select category', 'trigger': 'change'}
              ],
              'price': [
                {
                  'required': true,
                  // 'message': 'Enter adoption fee',
                  validator: (rules, value, callback) => {
                    if (!value) {
                      callback(new Error('Enter adoption fee'))
                    } else {
                      const reg = /^\d+(\.\d{0,2})?$/
                      if (reg.test(value)) {
                        if(value < 10000){
                          callback()
                        }else{
                          callback(new Error('Adoption fee should be less than 10000'))
                        }
                      } else {
                        callback(new Error('Adoption fee should be a number and .00'))
                      }
                    }
                  },
                  'trigger': 'blur'
                }
              ],
            }
          }
        },
        created() {
          this.getPetList()
          // details temp data
<!--          this.getDetailListHand()-->
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }
        },
        mounted() {
        },
        methods: {
          async init () {
            queryPetById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                this.ruleForm = { ...res.data }
                this.ruleForm.price = String(res.data.price/100)
                this.ruleForm.status = res.data.status == '1'
                this.petDetails = res.data.details && res.data.details.map(obj => ({ ...obj, value: JSON.parse(obj.value),showOption: false }))
                console.log('this.petDetails',this.petDetails)
                // this.ruleForm.id = res.data.data.categoryId
                // this.imageUrl = res.data.data.image
                this.imageUrl = `/common/download?name=${res.data.image}`
              } else {
                this.$message.error(res.msg || 'Failed')
              }
            })
          },
          //  button - add a detail
          addDetaile () {
            this.petDetails.push({'name': '', 'value': [], showOption: false}) // JSON.parse(JSON.stringify(this.petDetailsData))
          },

          //  button - delete a detail
          delDetail (ind) {
            this.petDetails.splice(ind, 1)
          },

          // button - delete a detail
          delDetailLabel (index, ind) {
            this.petDetails[index].value.splice(ind, 1)
          },

          // ?
          detailPosition (index) {
            this.index = index
          },

          // Add details tag
          keyDownHandle (val,index) {
            console.log('keyDownHandle----val',val)
            console.log('keyDownHandle----index',index)
            console.log('keyDownHandle----this.petDetails',this.petDetails)
            if (event) {
              event.cancelBubble = true
              event.preventDefault()
              event.stopPropagation()
            }

            if (val.target.innerText.trim() != '') {
              this.petDetails[index].value.push(val.target.innerText)
              val.target.innerText = ''
            }
          },

          // 获取宠物分类
          getPetList () {
            getCategoryList({ 'type': 1 }).then(res => {
              if (res.code === 1) {
                this.petList = res.data
              } else {
                this.$message.error(res.msg || 'Failed')
              }
            })
          },

          // Get details
          getDetailListHand () {
            // detail detailData
            this.petDetailsData = [
              {'name':'friendliness','value':['cat friendly','dog friendly','child friendly','not friendly']},
              {'name':'hair length','value':['long','short','medium','no hair','loses a lot of hair']},
              {'name':'eating habit','value':['picky','not picky','normal','lots of allergies']},
              {'name':'neutering status','value':['neutered','not neutered']}
            ]
          },

          selectDetail(st,index){
            console.log('st',st)
            console.log('index',index)
            console.log('this.petDetails',this.petDetails)
            const obj = JSON.parse(JSON.stringify(this.petDetails[index]))
            obj.showOption = st
            this.petDetails.splice(index,1,obj)
            // this.petDetails[index].showOption = st
          },

          outSelect(st,index){
            const _this = this
            setTimeout(()=> {
              const obj = JSON.parse(JSON.stringify(_this.petDetails[index]))
              obj.showOption = st
              _this.petDetails.splice(index,1,obj)
            }, 200)
          },

          inputHandle(val,index){
            // this.selectDetail(false,index)
          },

          checkOption(val, ind, index){
            this.selectHandle(val.name, index, ind)
            this.petDetails[index].name = val.name
          },

          selectHandle(val, key, ind){
            const arrDate = [...this.petDetails]
            arrDate[key] = JSON.parse(JSON.stringify(this.petDetailsData[ind]))
            this.petDetails = arrDate
          },

          submitForm(formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                let params = {...this.ruleForm}
                // params.details = this.petDetails
                params.status = this.ruleForm ? 1 : 0
                params.price *= 100
                params.categoryId = this.ruleForm.categoryId
                params.details = this.petDetails.map(obj => ({ ...obj, value: JSON.stringify(obj.value) }))
                delete params.petDetails
                if(!this.imageUrl){
                  this.$message.error('Upload pet picture')
                  return 
                }
                if (this.actionType == 'add') {
                  delete params.id
                  addPet(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Added!')
                      if (!st) {
                        this.goBack()
                      } else {
                        this.petDetails = []
                        // this.petDetailsData = []
                        this.imageUrl = ''
                        this.ruleForm = {
                          'name': '',
                          'id': '',
                          'price': '',
                          'code': '',
                          'image': '',
                          'description': '',
                          'petDetails': [],
                          'status': true,
                          categoryId: ''
                        }
                      }
                    } else {
                      this.$message.error(res.msg || 'Failed')
                    }
                  }).catch(err => {
                    this.$message.error('Failed: ' + err)
                  })
                } else {
                  delete params.updateTime
                  editPet(params).then(res => {
                    if (res.code === 1) {
                      this.$message.success('Updated!')
                      this.goBack()
                    } else {
                      this.$message.error(res.msg || 'Failed: ')
                    }
                  }).catch(err => {
                    this.$message.error('Failed: ' + err)
                  })
                }
              } else {
                return false
              }
            })
          },

          handleAvatarSuccess (response, file, fileList) {
            // 拼接down接口预览
            if(response.code === 0 && response.msg === 'Not Logged in'){
              window.top.location.href = '/backend/page/login/login.html'
            }else{
              this.imageUrl = `/common/download?name=${response.data}`
              this.ruleForm.image = response.data
            }
          },

          onChange (file) {
            if(file){
              const suffix = file.name.split('.')[1]
              const size = file.size / 1024 / 1024 < 2
              if(['png','jpeg','jpg'].indexOf(suffix) < 0){
                this.$message.error('Only support png、jpeg、jpg!')
                this.$refs.upload.clearFiles()
                return false
              }
              if(!size){
                this.$message.error('Picture should be less than 2MB!')
                return false
              }
              return file
            }
          },
          
          goBack(){
            window.parent.menuHandle({
              id: '4',
              url: '/backend/page/pet/list.html',
              name: 'pet management'
            },false)
          }
        }
      })
    </script>
</body>
</html>